:root {
    --lgr-primary: linear-gradient(90deg, rgba(49, 211, 92, 1) 0%, rgba(49, 211, 92, 1) 35%, rgba(43, 183, 218, 1) 100%);
    --clr-primary-100: hsl(233, 26%, 24%);
    --clr-nuetral-100: hsl(233, 8%, 62%);
    --clr-nuetral-200: hsl(220, 16%, 96%);
    --clr-nuetral-300: hsl(0, 0%, 98%);
    --clr-nuetral-400: hsl(0, 0%, 100%);
}

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Set core root defaults */
html {
    overflow-x: hidden;
    background-color: var(--clr-nuetral-300);
}

html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    font-family: 'League Spartan', sans-serif;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    line-height: 0.9;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img,
picture {
    max-width: 100%;
    display: block;
}

/* utilitiesL */
.flex {
    display: flex;
}

.bg-linear-gradient {
    background: var(--lgr-primary);
}

.bg-neutral-100 {
    background-color: var(--clr-nuetral-100);
}

.bg-neutral-200 {
    background-color: var(--clr-nuetral-200);
}

.bg-primary-100 {
    background-color: var(--clr-primary-100);
}

.clr-primary-100 {
    color: var(--clr-primary-100);
}

.clr-neutral-100 {
    color: var(--clr-nuetral-100);
}

.clr-neutral-400 {
    color: var(--clr-nuetral-400);
}


.font-sm {
    font-size: clamp(10px, 3vw, 12px);
    font-weight: 500;
    line-height: 1rem;
}

.font-xl {
    font-size: clamp(1.4rem, vw, 10px);
    font-weight: 500;
}


ul,
ol[role="list"] {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    background-color: var(--clr-nuetral-400);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-around;
    align-items: center;
    padding: .2rem 0rem;
    z-index: 10;
}

.nav__items{
    display: flex;
}

nav ul {
    gap: 1rem;
}

.nav__button {
    padding: .5rem 1.3rem;
    border: 0px;
    border-radius: 4rem;
}

#menu__btn,.mobile__menu {
    display: none;
}


.intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: min(41rem, 35rem);
}

.intro__article {
    text-align: start;
    margin: auto;
    width: min(24rem, 100vw - 6rem);
}

.intro__article h1 {
    font-size: clamp(39px, 3vw, 50px);
    font-weight: 500;
}

.intro__article p {
    font-size: clamp(.8rem, 1vw, 14px);
    font-weight: 500;
    line-height: 20px;
}

.intro button {
    margin-block: 1em;
}

.intro__image {
    position: relative;
    z-index: -1;
    background-image: url(./images/bg-intro-desktop.svg);
    background-size: 973px;
    background-position: 0px -139px;
    background-repeat: no-repeat;
}

.image__mockups {
    width: min(676px, 662px);
    position: absolute;
    right: -5rem;
    top: -6em;
}

section:has(.cards) {
    width: 100%;
    z-index: -2;
    position: relative;
}

section:has(.cards)>* {
    width: 70%;
    margin: auto;
}

.cards__intro h1 {
    font-size: clamp(2rem, 3vw, 30px) !important;
}

section:has(.cards) {
    padding-block: 6em;
}

section:has(.cards) img {
    width: min(3rem, 45px);
}

section:has(.cards) h1 {
    font-size: clamp(1rem, 2vw, 14px);
    font-weight: 500;
}

section:has(.cards) p {
    font-size: clamp(.5rem, 4vw, 16px);
    line-height: 1.5rem;
    font-weight: 400;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.card__details>* {
    margin-block: 1.5em;
}

section:has(.articles) {
    width: 100%;
    padding-block: 4rem;
}

section:has(.articles)>* {
    width: 70%;
    margin: auto;
}

section:has(.articles)>h1 {
    font-size: clamp(2rem, 3vw, 30px) !important;
    font-weight: 500;
    line-height: 6rem;
}


.articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.articles>div {
    border: 1px solid var(--clr-nuetral-200);
    border-radius: 4px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: all ease-in-out .3s;
    cursor: pointer;
}

.articles>div:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 10px hsl(136, 65%, 51%);
}

.articles img {
    width: 100%;
    border-radius: 4px 4px 0px 0px
}

.image__label {
    font-size: clamp(.5rem, .5vw, 10px);
}

.article__info {
    width: 80%;
    margin: auto;
}


.article__info:hover>a {
    color: hsl(136, 65%, 51%);
}

footer {
    width: 100%;
    padding-block: 5rem;
}

.footer__container {
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
    width: 70%;
    margin: auto;
}

.footer__container div~* {
    margin-left: 2rem
}

.footer__contact {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer__contact>* {
    width: 80%;
    margin-inline: auto;
}

.footer__icons {
    width: 7rem;
    margin-inline: auto !important;
    margin-block: 1rem;
}

.logo2 {
    margin-block-end: 2rem;
    width: 7rem;
}

.icons {
    display: flex;
    justify-content: center;
    gap: .6rem;
    padding: 0;
}

.icons svg {
    width: 1.3rem;
    cursor: pointer;
}

.footer__items ul {
    margin: 0;
    text-align: start;
}

.footer__items li {
    font-size: clamp(14px, .7vw, 1rem);
    color: rgb(231, 241, 243);
    text-transform: capitalize;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.footer__items li:hover{
    color: hsl(136, 65%, 51%);
    scale: 1.1;
}


svg:hover path {
    fill: #31d35c;
}

svg path {
    transition: all ease 0.3s;
  }

.footer__items li~* {
    margin-block: 1.2rem;
}

.footer__copyright {
    text-align: end;
}

.footer__copyright p {
    font-size: 14px;
}
